*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#welcomeScreen, #looseScreen{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}

.container {
    width: 400px;
    height: auto;
    background-color: #22074dbc;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: white;
}

.container label {
    font-weight: 700;;
}

.container input {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 1rem;
    margin: 20px 0px;
    background-color: #eeeeee;
    border: none;
    border-radius: 10px;
    color: rgb(53, 48, 48);
    font-size: 1rem;
    caret-color: #22074d;
}

.container button {
    background: linear-gradient(#100241,black);
    padding: 12px 0px;
    width: 150px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1s ease;
}

#usernameError{
    color: red;
    padding: 5px;
    font-size: 1rem;
}

.hide{
    display: none !important;
}

#quizArea{
    width: 100%;
    height: 100vh;
    display: flex;

   
}

.questionArea{
    width: 75%;
    height: 100vh;
    background-image: url('./assets/bg.jpeg');
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.levelArea{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #100241;
    color: white;
}

.level {
    display: flex;
    align-items: center;
    /* justify-content: space-bet; */
    padding: 5px;
    border-radius: 7px;
}

.levelNumber{
    font-size: 20px;
    font-weight: 300;
    width: 30%;
    margin-left: 4px;
}

.levelValue{
    font-size: 20px;
    font-weight: 300;
}

#levelList{
    list-style: none;
    padding: 20px;
    width: 75%;
}

.level.active{
    background-color: teal;
}

/* Question and answer part */
#questionStatement{
    width: 80%;
    background: linear-gradient(#100241,black);
    border: 2px solid white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#answers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.answer{
    flex-basis: 45%;
    background: linear-gradient(#100241,black);
    border: 2px solid white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

.answer:hover{
    background: blue;
    cursor: pointer;
    color:white
}

#looseScreen h1{
    padding: 10px;
}

#looseScreen h3{
    padding: 7px;
}

#time {
    font-weight: 900;
    color: white;
    padding: 20px 25px;
    background: linear-gradient(#100241,black);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-bottom: -28px;
}